<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>music</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/music/music-player.css">
  </head>
  <body ng-controller="MainCtrl">
    <div class="container-fluid">
      <div class="row" >
        <div ng-show="results.length == 0">
          <input ng-model="json.api_key" type="text" placeholder="api key"/>
          <input ng-model="json.secret" type="password" placeholder="secret" />
          <i class="fa fa-refresh" ng-click="refresh()"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs">
          <div class="embed-responsive embed-responsive-16by9">
            <youtube-video class="embed-responsive-item" video-url="ytVideoUrl" player="bestPlayer" player-vars="playerVars"></youtube-video>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div ng-show="results.length > 0">
            <div class="row text-center">
              <div class="col-xs-1 text-center">
              </div>
              <div class="col-xs-10">
                <input class="form-control" ng-model="search" placeholder="search"/>
              </div>
              <div class="col-xs-1 text-center">
                <i class="fa fa-random" alt="yes, I know" ng-click="playRandom()"></i>
              </div>
            </div>
            <div class="row" ng-repeat="result in results | filter: search" ng-class="{ selected: isSelected(result) }">
              <div class="col-xs-1 text-center">
                <i class="fa fa-youtube" ng-show="result.url.indexOf('youtube') != -1"></i>
              </div>
              <div class="col-xs-10">
                <div ng-show="result.id == selected.id">
                <input class="form-control" ng-model="selected.name" placeholder="title"/>
                <input class="form-control" ng-model="selected.url" placeholder="url"/>
                <input class="form-control" ng-model="selected.moods" placeholder="moods" ng-list required>
                </div>
                <p ng-hide="result.id == selected.id" ng-click="play(result)" style="white-space:nowrap; overflow: hidden; text-overflow:ellipsis">{{ result.name || result }}</p>
              </div>
              <div class="col-xs-1 text-center">
                <i class="fa fa-save" ng-click="update(selected)" ng-show="result.id == selected.id"></i>
                <i class="fa fa-edit" ng-click="edit(result)" ng-hide="result.id == selected.id"></i>
              </div>
            </div>
            <div class="row text-center">
              <i class="fa fa-plus" ng-click = "newSong()"></i>
            </div>
            <div class="row" ng-show="selected && selected.id == undefined">
              <div class="col-xs-1 text-center">
              </div>
              <div class="col-xs-10">
                <input class="form-control" ng-model="selected.name" placeholder="title" />
                <input class="form-control" ng-model="selected.url" placeholder="url" />
                <input class="form-control" ng-model="selected.moods" placeholder="moods" ng-list required>
              </div>
              <div class="col-xs-1 text-center">
                <i class="fa fa-save" ng-click = "update(selected)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script src="/javascripts/music/angular-youtube-embed.js"></script>
    <script src="/javascripts/jnorthpole.js"></script>
    <script src="/javascripts/music/music-player.js"></script>
  </body>
</html>
