!!!
%html
  %head
    %title Ki Framework
  %body
    %ul
      %li
        %a{ href: '/monitors.json?q=c&redirect_to=/' } clone
      %li
        %a{ href: '/monitors.json?q=e&redirect_to=/' } extend
      %li
        %a{ href: '/fireplace.json?q=start&redirect_to=/' } fireplace
      %li
        %a{ href: '/fireplace.json?q=kill&redirect_to=/' } fireplace kill
      %li
        %a{ href: '/sound.json?q=speakers&redirect_to=/' } speakers
      %li
        %a{ href: '/sound.json?q=hdmi&redirect_to=/' } hdmi
