.row.text-center.menu
  .col-md-4.col-md-offset-4.col-xs-12
    %a.btn.btn-primary{ href: '/shop' }
      %i.fa.fa-shopping-cart
      shopping list
.row.text-center.menu
  .col-md-4.col-md-offset-4.col-xs-12
    %a.btn.btn-primary{ href: '/ring.json?redirect_to=/' }
      %i.fa.fa-bell
        ring
.row.text-center.menu
  .col-md-4.col-md-offset-4.col-xs-12
    - unless vlc_running?
      %a.btn.btn-primary{ href: '/fireplace.json?q=start&redirect_to=/' }
        %i.fa.fa-fire
        fireplace
    - else
      %a.btn.btn-primary{ href: '/fireplace.json?q=kill&redirect_to=/' }
        %i.fa.fa-fire-extinguisher
        kill fireplace
.row.text-center.menu
  .col-md-4.col-md-offset-4.col-xs-12
    - unless couch_lock_running?
      %a.btn.btn-primary{ href: '/jrobot.json?q=listen&redirect_to=/' }
        %i.fa.fa-coffee
        couch-lock
    - else
      %a.btn.btn-primary{ href: '/jrobot.json?q=kill&redirect_to=/' }
        %i.fa.fa-times
          kill couch-lock
.row.text-center.menu
  .col-md-4.col-md-offset-4.col-xs-12
    %a.btn.btn-primary{ href: 'couchlock://192.168.0.12:9876' }
      %i.fa.fa-android
      android
