!!!
%html{ "ng-app" => "clApp" }
  %head
    %title Ki Framework - Couch Lock Remote Control

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    %link{href: "stylesheets/font-awesome.min.css", rel: "stylesheet"}/
    %link{href: "stylesheets/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "stylesheets/bootstrap-theme.min.css", rel: "stylesheet"}/
    %link{href: "stylesheets/main.css", rel: "stylesheet"}/
  %body
    .container
      .row
        .col-md-4.col-md-offset-4.col-xs-12
          %a.btn.btn-primary{ href: '/' }
            %i.fa.fa-home
          %a.btn.btn-primary{ href: 'javascript: location.reload()' }
            %i.fa.fa-refresh
          %a.pull-right.btn.btn-primary{ href: '/settings' }
            %i.fa.fa-cog
      = yield

    %script{src: "javascripts/angular.min.js"}
    %script{src: "javascripts/clApp.js"}
