.row.text-center.menu
  .col-md-4.col-md-offset-4.col-xs-12
    - if display_status == 'cloned'
      %a.btn.btn-primary{ href: '/monitors.json?q=e&redirect_to=/settings' }
        %i.fa.fa-desktop
        %i.fa.fa-desktop
        extend
    - else
      %a.btn.btn-primary{ href: '/monitors.json?q=c&redirect_to=/settings' }
        %i.fa.fa-desktop
        clone
.row.text-center.menu
  .col-md-4.col-md-offset-4.col-xs-12
    - if sound_output == 'hdmi'
      %a.btn.btn-primary{ href: '/sound.json?q=speakers&redirect_to=/settings' }
        %i.fa.fa-file-audio-o
        speakers
    - else
      %a.btn.btn-primary{ href: '/sound.json?q=hdmi&redirect_to=/settings' }
        %i.fa.fa-file-audio-o
        hdmi
.row.text-center.menu
  .col-md-4.col-md-offset-4.col-xs-12
    %a.btn.btn-primary{ href: '/volume.json?q=manager&redirect_to=/settings' }
      %i.fa.fa-volume-up
      gnome volume manager
