.row{ 'ng-app' => 'app', 'ng-controller' => 'MainCtrl' }
  .col-xs-6
    .embed-responsive.embed-responsive-16by9
      %youtube-video.embed-responsive-item{ 'video-url' => 'ytVideoUrl', 'player' => 'bestPlayer', 'player-vars' => 'playerVars' }
  .col-xs-6
    %div{ 'ng-show' => 'results.length == 0' }
      %input{ 'ng-model' => 'json.api_key', 'type' => 'text', 'placeholder' => 'api key' }
      %input{ 'ng-model' => 'json.secret', 'type' => 'password', 'placeholder' => 'secret' }
      %i.fa.fa-refresh{ 'ng-click' => 'refresh()' }
    %div{ 'ng-show' => 'results.length > 0' }
      %ul
        %li.text-center{ 'ng-click' => 'playRandom()' }
          %i.fa.fa-random{ 'alt' => 'yes, I know' }
        %li{ 'ng-repeat' => 'result in results', 'ng-click' => 'play(result)', 'ng-class' => '{ selected: isSelected(result) }'}
          %span.pull-right
            %i.fa.fa-edit
          %p
            {{ result.name || result }}
        %li.text-center
          %i.fa.fa-plus

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<script src="https://www.youtube.com/iframe_api"></script>
= js "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"
= js "/javascripts/music/angular-youtube-embed.js"

:css
  .embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  .embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }

  .embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .selected {
    background-color: yellow;
  }

  li {
    list-style-type: none;
  }

:javascript
  var app = angular.module('app', ['youtube-embed']);

  app.controller('MainCtrl', function ($scope, youtubeEmbedUtils) {
    $scope.results = []
    $scope.refresh = function () {
      jNorthPole.getStorage($scope.json, function (data) {
        if ($scope.json.apiKey != 'guest' && data.error === undefined) {
          localStorage.json = angular.toJson($scope.json)
        }

        if (data.error === undefined) {
          $scope.results = data;
          $scope.$apply();
        }
      });
    };
    $scope.playerVars = {
      controls: 1,
      autoplay: 1
    };

    if (localStorage.json === undefined) {
      $scope.json = { 'api_key': 'guest', 'secret': 'quest', 'category': 'music' };
    } else {
      $scope.json = angular.fromJson(localStorage.json);
      $scope.refresh();
    }

    $scope.play = function (video) {
      $scope.ytVideoUrl = video.url;
      console.log(youtubeEmbedUtils.getIdFromURL($scope.ytVideoUrl));
    }

    $scope.isSelected = function (video) {
      return $scope.ytVideoUrl == video.url;
    }

    $scope.playRandom = function() {
      var item = $scope.results[Math.floor(Math.random()*$scope.results.length)];
      $scope.play(item);
      if (player !== undefined) {
        player.seekTo(0);
      }
    }

    $scope.$on('youtube.player.ended', function ($event, player) {
      $scope.playRandom(player)
    })
  });
