%a{'href' => '#what'} What is json.northpole.ro?
%br
%a{'href' => '#how'} How do I use the API?
%br
%a{'href' => '#storage'} What can I store?
%br
%h3#what What is json.northpole.ro?
%p
  json.northpole.ro is a JSON cloud storage service.
%p
  It is designed to be simple, fast and easy to use. Use a RESTful HTTP api to manage
  your json objects and access them from anywhere.
%h3#how How do I use the API?
%p
  HTTP requests. Read
  %a{href: '/examples'} the docs
  for more info.
%p
  To get an idea of how the API works, head to the
  %a{:href => '/playground'} playground
  \.
%h3#storage What can I store?
%p
  Any valid json object. The object can contain keys, arrays and hashes.
%p
  Once the object gets created it will receive a unique id.
