.row
  .col-md-6
    .form-group
      %textarea#playground.form-control
        = preserve do
          {
          \ "api_key":"guest",
          \ "secret":"guest"
          }
    .text-center{style: 'margin-bottom: 14px;'}
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          %span#resource Storage
          %span.caret
        %ul.dropdown-menu{role: "menu"}
          %li
            %a{href: "#"} Storage
          %li
            %a{href: "#"} User
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          %span#verb GET
          %span.caret
        %ul.dropdown-menu{role: "menu"}
          %li
            %a{href: "#"} GET
          %li
            %a{href: "#"} POST
          %li
            %a{href: "#"} PUT
          %li
            %a{href: "#"} DELETE
      .btn-group
        %button#npAction.btn.btn-default Execute Request
  .col-md-6{:style => 'height: 100%'}
    %pre#parsedJson
      {}
.row
  .col-md-12
