%p
  = other_developer_count
%br
%p
  Thanks Gabi Nagy for
  %a{:href => 'https://github.com/northpole-api/northpole.ro/blob/master/public/favicon.ico'} the favicon
%p
  Thanks Rares Musina for
  %a{:href => 'https://github.com/northpole-api/NorthPoleNetWrapper'} NorthPoleNetWrapper
%p
  Thanks for
  %a{:href => 'http://openclipart.org/detail/97081/polar-bear-by-aguasas'} the bear
