%p
  You are subscribed to the
  %b jNorthPoleChat
  channel. Everybody in this channel will be able to view your messages.
%input.realtime-input.form-control{ type: 'text', placeholder: 'write your message and press enter' }
%br
%pre.realtime-output
